.more {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-shadow: -1px -1.5px 0.5px #000, 1px -1.5px 0.5px #000, -1px 1.5px 0.5px #000, 1px 1.5px 0.5px #000;
}

.more a {
    margin-left: 5px;
    color: #477ca7;
    text-shadow: none;
    text-decoration: none;
}

.more a:visited {
    color: #8b49ee;
}