.timeline {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.6;
}

tr {
    display: flex;
    margin: 18px;
    /* margin-right: 2rem; */
}

td:nth-child(2) {
    margin-right: 0.2rem;
}